<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="city_drodown"
                type="Hdweb\Core\Model\Checkout\LayoutProcessor" sortOrder="10"/>
    </type>
     <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Hdweb\Core\Model\Mail\Template\TransportBuilder" />
</config>