<?xml version="1.0"?>
<!--
/*
 * @category    Spotii
 * @package     Spotii_Spotiipay
 * @copyright   Copyright (c) Spotii (https://www.spotii.me/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="set_spotii_capture_expiry" instance="Spotii\Spotiipay\Observer\SetSpotiiCaptureExpiryObserver" />
    </event>
</config>
