<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="mstSortingApplySorting" type="Mirasvit\Sorting\Plugin\Frontend\ApplySortingToCollectionPlugin"/>
        <plugin name="mstSortingPerformSorting" type="Mirasvit\Sorting\Plugin\Frontend\PerformSortingPlugin"/>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="mstSortingApplySorting" type="Mirasvit\Sorting\Plugin\Frontend\ApplySortingToCollectionPlugin"/>
    </type>

    <type name="Magento\Framework\Search\RequestInterface">
        <plugin name="mstSorting\RemoveSort" type="Mirasvit\Sorting\Plugin\Frontend\RemoveSortOnSearchRequestPlugin"/>
    </type>

    <type name="Magento\Framework\Api\SearchCriteria">
        <plugin name="mstSortingElasticReplaceOrder" type="Mirasvit\Sorting\Plugin\Frontend\ApplyCriteriaToElasticsearchPlugin"/>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplierInterface">
        <plugin name="mstSortingPerformSortingSearch" type="Mirasvit\Sorting\Plugin\Frontend\PerformSortingPlugin"/>
    </type>
</config>
