<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="hdweb" translate="label" sortOrder="300">
            <label>Hdweb</label>
        </tab> -->
        <section id="insurance" translate="label" type="text" sortOrder="1" showInStore="1" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>Insurance</label>
            <tab>hdweb</tab>
            <resource>Hdweb_Insurance::config_insurance</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General</label>
                <field id="client_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Id</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                </field>
                <field id="api_call_baseurl" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API call base url</label>
                </field>
                <field id="insurance_submit_email_template" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Insurance Submit Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
            </group>
        </section>
    </system>
</config>
